<div class="col-md-4 col-sm-12" style="margin-top: 25vh">
    <div  style="text-align: center; width:100%">
        <button class="buttonBox vertButton" ng-click="forward()" style="padding-top: 7px;">&#8593;</button><br><!-- Up -->
        <div style="display: inline-flex;">
            <button class="buttonBox horButton" ng-click="left()" style="margin-right:25px;">&#8592;</button><!-- Left -->    
            <button class="buttonBox horButton" ng-click="right()">&#8594;</button><!-- Right -->    
        </div>
        <br><button class="buttonBox vertButton" ng-click="reverse()" style="padding-bottom: 7px;">&#8595;</button><!-- Down -->    
    </div>
</div>