<h3 class="title">Left Sensor</h3>
<canvas id="towerCanvas_SonarL" class="viewport" style="width:98vw; height:18vh; border:1px solid #000;"> </canvas>
<h3 class="title">Right Sensor</h3>
<canvas id="towerCanvas_SonarR" class="viewport" style="width:98vw; height:18vh; border:1px solid #000;"> </canvas>

<div class="container-fluid">
<div style="text-align:center" class="row">
    <div class="col-md-4 col-sm-6">
        <h3 class="title"> Servo</h3>       
        <canvas id="towerCanvas_Servo" width="250" height="250" class="viewport" style="border:1px solid #000; border-radius: 150px;"> </canvas>
    </div>

    <div class="col-md-4 col-sm-6">
         <h3 class="title"> Position</h3>       
        <canvas id="towerCanvas_Pos" width="250" height="250" class="viewport" style="border:1px solid #000; border-radius: 150px;"> </canvas>
    </div>
    
    <div class="col-md-4 col-sm-12">
        <div  style="text-align: center; width:100%">
            <div class="buttonBox vertButton" style="padding-top: 7px;">&#8593;</div>
            <div style="display: inline-flex;">
                <div class="buttonBox horButton" style="margin-right:25px;">&#8592;</div>    
                <div class="buttonBox horButton">&#8594;</div>    
            </div>
            <div class="buttonBox vertButton" style="padding-bottom: 7px;">&#8595;</div>    
        </div>
    </div>
    
</div>
</div>
