<h3 class="title">Tower Left Sensor</h3>
<canvas id="towerCanvas_SonarL" class="viewport" style="width:98vw; height:18vh; border:1px solid #000;"> </canvas>
<h3 class="title">Tower Right Sensor</h3>
<canvas id="towerCanvas_SonarR" class="viewport" style="width:98vw; height:18vh; border:1px solid #000;"> </canvas>
<h3 class="title">Car Speed</h3>
<canvas id="towerCanvas_Speed" class="viewport" style="width:98vw; height:18vh; border:1px solid #000;"> </canvas>

<div class="container-fluid">
<div style="text-align:center" class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <h3 class="title">Tower Direction</h3>       
        <canvas id="towerCanvas_Servo" width="250" height="250" class="viewport" style="border:1px solid #000; border-radius: 150px;"> </canvas>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
         <h3 class="title">Car Position</h3>       
        <canvas id="towerCanvas_Pos" width="250" height="250" class="viewport" style="border:1px solid #000; border-radius: 150px;"> </canvas>
    </div>
    
    <div class="col-md-4 col-sm-6 col-xs-12">
         <h3 class="title">Car Direction</h3>       
        <canvas id="towerCanvas_CarAngle" width="250" height="250" class="viewport" style="border:1px solid #000; border-radius: 150px;"> </canvas>
    </div>
        
</div>
</div>

