.title{
    text-align: center;
    margin: 0;
}

#grad1 {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,0,0,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,0,0,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); /*Standard*/
}

#grad2 {
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(0,0,255,0),rgba(0,0,255,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(0,0,255,0),rgba(0,0,255,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(0,0,255,0),rgba(0,0,255,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,1)); /*Standard*/
}

.buttonBox
 {
    border:1px solid #000;
    font-size: 40px;
     
    text-align: center;
    margin: 0 auto;
}

.vertButton{
    height:85px;
    width: 60px;
  
}

.horButton{    
    height:60px;
    width: 85px;
}